.vscode/
assignment_1/a.out
assignment_1/find_roots
assignment_1/libpoly.so
assignment_1/a.exe
assignment_1/find_roots.exe
assignment_1/libpoly.dll
assignment_1/results.xlsx
assignment_1/report.docx

assignment_2/libstr.so
assignment_2/libnetlist.so
assignment_2/netlist.txt
assignment_2/custom_full_adder
assignment_2/report.docx
assignment_2/custom_full_adder.exe

assignment_3/*.png
assignment_3/*.svg
assignment_3/report.docx
assignment_3/translate_to_gates.exe

assignment_4/report.docx
assignment_4/entity_to_netlist.exe
